.entry-title a:link, .entry-title a:visited {
    text-decoration: none;
    color: #069BD9 !important;
}

.main-navigation li a:link, .main-navigation li a:visited, .textwidget, .textwidget p {
    font-weight: 100;
}
.site-navigation {
     padding: 32px 0 !important;
}

#secondary .widget-title {
    font-weight: 100 !important;
    background-color: #00a0ca !important;
    color: #fff !important;
    padding: 14px !important;
}
#footer-widgets a:link, a:visited {
    color: #fff !important;
}

footer.site-footer {
    background-color: #00a0ca;
    color: #fff;
    margin-top: 17px;
}

@media screen (max-width: 700px) {
    #primary {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
	#primary {
        width: 100% !important;
    }
    #text-3, #text-4 {
	    width: 100% !important;
	}
    #secondary {
        width: 100% !important;
        padding-top: 31px !important;
    }
}